<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Remove .php extension
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^([^/]+)/?$ $1.php [L]

  # Routes
  RewriteRule ^server/([^/]+)/?$ server.php?ip_addr=$1 [QSA,L]

  # Redirect requests to index.php if the file doesn't exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>